
{{!-- Input Variables
planTitle:newPlan.title,
numHeadsPurchased:newPlan.heads,
aveStartingWeight:newPlan.startingWeight,
costPerHeadPer100Pounds:newPlan.costPerHundredLbs,
isManualCPHP100:true,
pastureAcresPerHead:newPlan.acresPerHead,
pastureRentPerHead:newPlan.rentPerHead,
vetCostPerHead:newPlan.vetCostPerHead,
truckTripPerHead:newPlan.transportPerHead,
interestRate:newPlan.interestRate,
weightGainPerDay:newPlan.lbsPerDay,
numDaysOnPasture:newPlan.daysOnPasture,
pricePerHeadPer100Pounds:newPlan.futurePrice,
userId:newPlan.userID --}}

<!-- Container -->
{{data.id}}
<div id="contact jsondump" class="container-fluid bg-grey">
  <h2 class="text-center">PARAMETERS FOR {{data.msg}} PLAN</h2>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Number of Head: <span>{{data.numHeadsPurchased}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Average Starting Weight (lbs): <span>{{data.aveStartingWeight}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Cost Per Head Per Hundred Weight (lbs): <span>{{data.costPerHeadPer100Pounds}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Pasture Acres Per Head: <span>{{data.pastureAcresPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Pasture Rent Per Head: <span>{{data.pastureRentPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Vet Cost Per Head: <span>{{data.vetCostPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Trucking Cost Per Head: <span>{{data.truckTripPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Interest Rate: <span>{{data.interestRate}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Weight Gain Per Day (lbs): <span>{{data.weightGainPerDay}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Number of Days on Pasture: <span>{{data.numHeadsPurchased}}</span></h3>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center">CALCULATED VALUES FOR {{data.msg}} PLAN</h2>
  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Total Cost Per Head (including interest): <span>{{data.totalCostPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Final Weight Per Head: <span>{{data.finalWeightPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Sale Price Per Head Per Hundred Pounds: <span>{{data.pricePerHeadPer100Pounds}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Sale Price Per Head: <span>{{data.totalSalePricePerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Total Sale Price: <span>{{data.totalPrice}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Total Margin: <span>{{data.totalMargin}}</span></h3>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="wrapper">
        <h1>Stocker Calf Projection</h1>
        <h2>Number of Head: 50</h2>
        <h2>Average Starting Weight: 500 lbs</h2>
        <h2>X-Axis: Number of Months After Purchase Date</h2>

        <canvas id="myChart" width="1600" height="900">
            {{myChart}}
        </canvas>

      </div>
      <script src="stocker-chart/script.js"></script>

    </div>

  </div>

</div>