
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>


<!-- Container -->
<h6>Plan ID:<span id="planID">{{data.id}}</span></h6>
<div id="contact jsondump" class="container-fluid bg-grey">
  <h2 class="text-center">PARAMETERS FOR PLAN: {{data.planTitle}} </h2>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Number of Head: <span>{{data.numHeadsPurchased}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Average Starting Weight (lbs): <span>{{data.aveStartingWeight}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Purchase Cost Per Head Per Hundred Weight: $<span>{{data.costPerHeadPer100Pounds}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Pasture Acres Per Head: <span>{{data.pastureAcresPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Pasture Rent Per Head: $<span>{{data.pastureRentPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Vet Cost Per Head: $<span>{{data.vetCostPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Trucking Cost Per Head: $<span>{{data.truckTripPerHead}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Interest Rate: <span>{{data.interestRate}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Weight Gain Per Day (lbs): <span>{{data.weightGainPerDay}}</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Number of Days on Pasture: <span>{{data.numHeadsPurchased}}</span></h3>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center">CALCULATED VALUES FOR PLAN: {{data.planTitle}} </h2>
  {{!-- ahhhhhhhhhhhhhhhhhhhhhhhhhh!!!!!!!!!!!!!!!!!!!!!!!!!!!! --}}
  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Total Cost Per Head (including interest): <span id="totalCostPerHead"></span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Total Costs: <span id="totalCost"></span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Final Weight Per Head (lbs): <span id="finalWeightPerHead"></span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Sale Price Per Head Per Hundred Pounds: <span id="salePricePer100"></span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Sale Price Per Head: <span id="salePricePerHead"></span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Total Sale Price: <span id="totalSalePrice"></span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Projected Total Margin: <span id="totalMargin"></span></h3>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="wrapper">
        <h1>Stocker Calf Projection</h1>
        <h2>Number of Head: <span>{{data.numHeadsPurchased}}</span></h2>
        <h2>Average Starting Weight (lbs): <span>{{data.aveStartingWeight}}</span></h2>
        <h2>X-Axis: Number of Months After Purchase Date</h2>

        <canvas id="myChart" width="1600" height="900">
            {{myChart}}
        </canvas>

      </div>
      <script src="stocker-chart/script.js"></script>

    </div>

  </div>

</div>