
<!-- Container -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">PARAMETERS FOR {{msg}} PLAN</h2>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Number of Head</h3>
          <input class="form-control" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Average Starting Weight (lbs)</h3>
          <input class="form-control" placeholder={{aveStartingWeight}} type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Cost Per Head Per Hundred Weight (lbs)</h3>
          <input class="form-control" placeholder={{costPerHeadPer100Pounds}} type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Pasture Acres Per Head</h3>
          <input class="form-control" placeholder={{pastureAcresPerHead}} type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Pasture Rent Per Head</h3>
          <input class="form-control" placeholder={{pastureRentPerHead}} type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Vet Cost Per Head</h3>
          <input class="form-control" placeholder={{vetCostPerHead}} type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Trucking Cost Per Head</h3>
          <input class="form-control" placeholder={{truckTripPerHead}} type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Interest Rate</h3>
          <input class="form-control" placeholder={{interestRate}} type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Weight Gain Per Day (lbs)</h3>
          <input class="form-control" value={{weightGainPerDay}} type="text" required>
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <h3>Number of Days on Pasture</h3>
          <input class="form-control" placeholder={{numHeadsPurchased}} type="text" required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Calculate</button>
        </div>
      </div>
      
    </div>
  </div>

    planTitle:newPlan.title,
    numHeadsPurchased:newPlan.heads,
    aveStartingWeight:newPlan.startingWeight,
    costPerHeadPer100Pounds:newPlan.costPerHundredLbs,
    isManualCPHP100:true,
    pastureAcresPerHead:newPlan.acresPerHead,
    pastureRentPerHead:newPlan.rentPerHead,
    vetCostPerHead:newPlan.vetCostPerHead,
    truckTripPerHead:newPlan.transportPerHead,
    interestRate:newPlan.interestRate,
    weightGainPerDay:newPlan.lbsPerDay,
    numDaysOnPasture:newPlan.daysOnPasture,
    pricePerHeadPer100Pounds:newPlan.futurePrice,
    userId:newPlan.userID


  <div class="row">
    <div class="col-sm-12 text-center">



    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="wrapper">
        <h1>Stocker Calf Projection</h1>
        <h2>Number of Head: 50</h2>
        <h2>Average Starting Weight: 500 lbs</h2>
        <h2>X-Axis: Number of Months After Purchase Date</h2>

        <canvas id="myChart" width="1600" height="900">
            {{myChart}}
        </canvas>

      </div>
      <script src="../stocker-chart/script.js"></script>

    </div>

  </div>

</div>